<div class="row header fixed-top">
    <div class="col-12 col-md-3">
        <h3>BLOG</h3>
        <form action="{{ path('search_post') }}">
            <div class="input-group">
                <input type="text" class="form-control mr-2" name="search" placeholder="Search Blog...">
                <button class="btn border-warning" type"submit">
                    <a class="text-warning" href="{{ path('search_post') }}">Search</a>
                </button>
            </div>
        </form>
    </div>
</div>